.btn-hack {
  background-color: #88a0ff !important;
  color: #fff !important;
  border-color: #005e9d !important;
}
.btn-hack:focus,
.btn-hack:hover {
  background-color: #fff;
  color: #005e9d;
  border-color: #31347b;
}
.bg-hacktone {
  background-color: #2d5bb280;
  border: 0;
}

.login a {
  color: #000;
}
.hz-link {
  color: white;
  text-decoration: none;
}
.hz-link:hover {
  text-shadow: 1px 1px 1px purple;
  text-decoration: none;
}
.hz-toogle {
  filter: invert(100%);
}
.hz-mobile-menu {
  height: calc(100vh - 60px);
  &-item {
    font-size: 1.2em;
    font-weight: 700;
  }
}

.bg-outline-hack {
  background-color: #fff !important;
  color: #005e9d !important;
  border-color: #31347b !important;
}
